<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <app-header></app-header>

    <!-- Left side column. contains the logo and sidebar -->
    <app-sidebar></app-sidebar>

    <!-- Content Wrapper. Contains page content -->
    <app-content></app-content>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <app-footer></app-footer>

    <!-- Control Sidebar -->
    <app-rightbar></app-rightbar>
    <!-- /.control-sidebar -->
</div>
</body>
