<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">
                    <button class="btn btn-primary btn-sm" (click)="create()"><i class="fa fa-plus" aria-hidden="true"></i> 新建</button>
                    <span class="help-tips">App上只显示最新3条记录的活动</span>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover text-center">
                    <tr>
                        <th>ID</th>
                        <th>图片</th>
                        <th>名称</th>
                        <th>链接</th>
                        <th>日期</th>
                        <th width="80">操作</th>
                    </tr>
                    <tr *ngFor="let banner of banners; let i = index;">
                        <td>{{ i + 1 }}</td>
                        <td><img src="{{'http://localhost:8000' + banner.banner.path}}" alt="" width="80" height="80"></td>
                        <td>{{ banner.name }}</td>
                        <td>{{ banner.link }}</td>
                        <td>{{ banner.createdAt }}</td>
                        <td>
                            <button class="btn btn-danger btn-xs" (click)="remove(banner)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
                <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination" (pageChange)="pageChange($event)"></ngb-pagination>
            </div>
        </div>
    </div>
</div>
